USE [master]
GO

IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'QuanLyNhaSach')
BEGIN
    CREATE DATABASE [QuanLyNhaSach];
END
GO
USE [QuanLyNhaSach]
GO
USE [QuanLyNhaSach]
GO
/****** Object:  Table [dbo].[BienTheSach]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienTheSach](
	[MaBienThe] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [varchar](20) NOT NULL,
	[LoaiBia] [nvarchar](50) NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[MaBienTheCode] [varchar](30) NOT NULL,
	[GiaBan] [decimal](12, 2) NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBienThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoSach]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoSach](
	[MaBoSach] [int] IDENTITY(1,1) NOT NULL,
	[TenBoSach] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBoSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [int] IDENTITY(1,1) NOT NULL,
	[MaDH] [int] NOT NULL,
	[MaSach] [varchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](12, 2) NOT NULL,
	[ThanhTien]  AS ([SoLuong]*[DonGia]) PERSISTED,
	[MaBienThe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaSach] [varchar](20) NOT NULL,
	[SoSao] [tinyint] NOT NULL,
	[NoiDung] [nvarchar](500) NULL,
	[NgayDanhGia] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiKhachHang]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiKhachHang](
	[MaDiaChi] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[DiaChiChiTiet] [nvarchar](200) NOT NULL,
	[LaMacDinh] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDiaChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[TongTien] [decimal](12, 2) NOT NULL,
	[TrangThai] [tinyint] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[MaKH] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[MaVoucher] [int] NULL,
	[SoTienGiam] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[Sdt] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiemTichLuy] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[Sdt] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTroNV] [tinyint] NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[CaLamViec] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](100) NOT NULL,
	[Sdt] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [varchar](20) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[NamXB] [int] NULL,
	[GiaBan] [decimal](12, 2) NOT NULL,
	[MaTL] [int] NOT NULL,
	[MaNXB] [int] NOT NULL,
	[MaBoSach] [int] NULL,
	[SoPhan] [int] NULL,
	[TrangThai] [bit] NOT NULL,
	[AnhBia] [nvarchar](500) NULL,
	[BiaSach] [nvarchar](50) NULL,
	[NgonNgu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach_TacGia]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TacGia](
	[MaSach] [varchar](20) NOT NULL,
	[MaTG] [int] NOT NULL,
	[VaiTroTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sach_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SachVatLy]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SachVatLy](
	[MaSerial] [varchar](30) NOT NULL,
	[MaSach] [varchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[MaCTDH] [int] NULL,
	[MaBienThe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](100) NOT NULL,
	[TieuSu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTL] [int] IDENTITY(1,1) NOT NULL,
	[TenTL] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[MaVoucher] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [varchar](20) NOT NULL,
	[LoaiGiam] [tinyint] NOT NULL,
	[GiaTri] [decimal](12, 2) NOT NULL,
	[GiaTriDonToiThieu] [decimal](12, 2) NOT NULL,
	[GiaGiamToiDa] [decimal](12, 2) NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[SoLuongToiDa] [int] NOT NULL,
	[DaSuDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BoSach] ON 

INSERT [dbo].[BoSach] ([MaBoSach], [TenBoSach], [MoTa]) VALUES (1, N'Harry Potter', N'Bộ tiểu thuyết giả tưởng nổi tiếng.')
INSERT [dbo].[BoSach] ([MaBoSach], [TenBoSach], [MoTa]) VALUES (2, N'Doraemon', N'Bộ truyện tranh thiếu nhi Nhật Bản.')
INSERT [dbo].[BoSach] ([MaBoSach], [TenBoSach], [MoTa]) VALUES (3, N'Thám tử lừng danh Conan', N'Bộ truyện tranh trinh thám.')
SET IDENTITY_INSERT [dbo].[BoSach] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSach], [SoLuong], [DonGia], [MaBienThe]) VALUES (1, 1, N'S001', 1, CAST(85000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSach], [SoLuong], [DonGia], [MaBienThe]) VALUES (2, 1, N'S019', 1, CAST(120000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSach], [SoLuong], [DonGia], [MaBienThe]) VALUES (3, 2, N'S010', 1, CAST(180000.00 AS Decimal(12, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDanhGia], [MaKH], [MaSach], [SoSao], [NoiDung], [NgayDanhGia]) VALUES (1, 1, N'S001', 5, N'Cuốn sách rất hay và ý nghĩa.', CAST(N'2026-07-16T20:36:12.787' AS DateTime))
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaKH], [MaSach], [SoSao], [NoiDung], [NgayDanhGia]) VALUES (2, 2, N'S002', 5, N'Đọc rất cảm động.', CAST(N'2026-07-16T20:36:12.787' AS DateTime))
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaKH], [MaSach], [SoSao], [NoiDung], [NgayDanhGia]) VALUES (3, 3, N'S003', 5, N'Tác phẩm tuyệt vời.', CAST(N'2026-07-16T20:36:12.787' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChiKhachHang] ON 

INSERT [dbo].[DiaChiKhachHang] ([MaDiaChi], [MaKH], [DiaChiChiTiet], [LaMacDinh]) VALUES (1, 1, N'12 Cầu Giấy, Hà Nội', 1)
INSERT [dbo].[DiaChiKhachHang] ([MaDiaChi], [MaKH], [DiaChiChiTiet], [LaMacDinh]) VALUES (2, 2, N'25 Hai Bà Trưng, Hà Nội', 1)
INSERT [dbo].[DiaChiKhachHang] ([MaDiaChi], [MaKH], [DiaChiChiTiet], [LaMacDinh]) VALUES (3, 3, N'15 Lê Lợi, Đà Nẵng', 1)
SET IDENTITY_INSERT [dbo].[DiaChiKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDH], [NgayLap], [TongTien], [TrangThai], [PhuongThucThanhToan], [MaKH], [MaNV], [MaVoucher], [SoTienGiam]) VALUES (1, CAST(N'2026-07-01T00:00:00.000' AS DateTime), CAST(195000.00 AS Decimal(12, 2)), 1, N'Tiền mặt', 1, 3, 1, CAST(10000.00 AS Decimal(12, 2)))
INSERT [dbo].[DonHang] ([MaDH], [NgayLap], [TongTien], [TrangThai], [PhuongThucThanhToan], [MaKH], [MaNV], [MaVoucher], [SoTienGiam]) VALUES (2, CAST(N'2026-07-01T00:00:00.000' AS DateTime), CAST(236000.00 AS Decimal(12, 2)), 1, N'Chuyển khoản', 2, 4, NULL, CAST(0.00 AS Decimal(12, 2)))
INSERT [dbo].[DonHang] ([MaDH], [NgayLap], [TongTien], [TrangThai], [PhuongThucThanhToan], [MaKH], [MaNV], [MaVoucher], [SoTienGiam]) VALUES (3, CAST(N'2026-07-02T00:00:00.000' AS DateTime), CAST(258000.00 AS Decimal(12, 2)), 1, N'Ví MoMo', 3, 5, 4, CAST(25000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Sdt], [Email], [DiemTichLuy], [TrangThai]) VALUES (1, N'Nguyễn Văn A', N'0903000001', N'a@gmail.com', 120, 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Sdt], [Email], [DiemTichLuy], [TrangThai]) VALUES (2, N'Trần Thị B', N'0903000002', N'b@gmail.com', 80, 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Sdt], [Email], [DiemTichLuy], [TrangThai]) VALUES (3, N'Lê Văn C', N'0903000003', N'c@gmail.com', 30, 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Sdt], [Email], [DiaChi], [TaiKhoan], [MatKhau], [VaiTroNV], [TrangThai], [CaLamViec]) VALUES (1, N'Nguyễn Văn Admin', N'0901111111', N'admin1@bookstore.vn', N'Hà Nội', N'admin', N'123456', 1, 1, N'09:00 - 11:00')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Sdt], [Email], [DiaChi], [TaiKhoan], [MatKhau], [VaiTroNV], [TrangThai], [CaLamViec]) VALUES (2, N'Trần Thị Admin', N'0901111112', N'admin2@bookstore.vn', N'Hà Nội', N'admin2', N'123456', 1, 1, N'11:00 - 19:00')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Sdt], [Email], [DiaChi], [TaiKhoan], [MatKhau], [VaiTroNV], [TrangThai], [CaLamViec]) VALUES (3, N'Nguyễn Văn An', N'0902000001', N'an@gmail.com', N'Hà Nội', N'an', N'123456', 0, 1, N'19:00 - 22:00')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Sdt], [DiaChi]) VALUES (1, N'Nhà xuất bản Kim Đồng', N'02438228645', N'55 Quang Trung, Hai Bà Trưng, Hà Nội')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Sdt], [DiaChi]) VALUES (2, N'Nhà xuất bản Trẻ', N'02839316289', N'161B Lý Chính Thắng, Quận 3, TP. Hồ Chí Minh')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Sdt], [DiaChi]) VALUES (3, N'Nhà xuất bản Giáo dục Việt Nam', N'02438220801', N'81 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [NamXB], [GiaBan], [MaTL], [MaNXB], [MaBoSach], [SoPhan], [TrangThai], [AnhBia], [BiaSach], [NgonNgu]) VALUES (N'S001', N'Cho Tôi Xin Một Vé Đi Tuổi Thơ', 2008, CAST(85000.00 AS Decimal(12, 2)), 1, 2, NULL, NULL, 1, N'book-images/S001.webp', NULL, NULL)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [NamXB], [GiaBan], [MaTL], [MaNXB], [MaBoSach], [SoPhan], [TrangThai], [AnhBia], [BiaSach], [NgonNgu]) VALUES (N'S002', N'Mắt Biếc', 1990, CAST(98000.00 AS Decimal(12, 2)), 1, 2, NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [NamXB], [GiaBan], [MaTL], [MaNXB], [MaBoSach], [SoPhan], [TrangThai], [AnhBia], [BiaSach], [NgonNgu]) VALUES (N'S003', N'Tôi Thấy Hoa Vàng Trên Cỏ Xanh', 2010, CAST(110000.00 AS Decimal(12, 2)), 1, 2, NULL, NULL, 1, NULL, NULL, NULL)
GO
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTG], [VaiTroTG]) VALUES (N'S001', 1, N'Tác giả')
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTG], [VaiTroTG]) VALUES (N'S002', 1, N'Tác giả')
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTG], [VaiTroTG]) VALUES (N'S003', 1, N'Tác giả')
GO
INSERT [dbo].[SachVatLy] ([MaSerial], [MaSach], [TrangThai], [MaCTDH], [MaBienThe]) VALUES (N'abcf', N'S001', N'Đã bán', 49, NULL)
INSERT [dbo].[SachVatLy] ([MaSerial], [MaSach], [TrangThai], [MaCTDH], [MaBienThe]) VALUES (N'asdsfds', N'S001', N'Đã bán', 50, NULL)
INSERT [dbo].[SachVatLy] ([MaSerial], [MaSach], [TrangThai], [MaCTDH], [MaBienThe]) VALUES (N'asxdsfdsfd', N'S001', N'Đã bán', 55, NULL)
GO
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([MaTG], [TenTG], [TieuSu]) VALUES (1, N'Nguyễn Nhật Ánh', N'Nhà văn nổi tiếng của Việt Nam.')
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [TieuSu]) VALUES (2, N'Tô Hoài', N'Tác giả của Dế Mèn Phiêu Lưu Ký.')
INSERT [dbo].[TacGia] ([MaTG], [TenTG], [TieuSu]) VALUES (3, N'Nam Cao', N'Nhà văn hiện thực Việt Nam.')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (1, N'Văn học Việt Nam')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (2, N'Văn học nước ngoài')
INSERT [dbo].[TheLoai] ([MaTL], [TenTL]) VALUES (3, N'Thiếu nhi')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([MaVoucher], [MaCode], [LoaiGiam], [GiaTri], [GiaTriDonToiThieu], [GiaGiamToiDa], [NgayBatDau], [NgayKetThuc], [SoLuongToiDa], [DaSuDung]) VALUES (1, N'WELCOME10', 0, CAST(10000.00 AS Decimal(12, 2)), CAST(100000.00 AS Decimal(12, 2)), NULL, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 500, 25)
INSERT [dbo].[Voucher] ([MaVoucher], [MaCode], [LoaiGiam], [GiaTri], [GiaTriDonToiThieu], [GiaGiamToiDa], [NgayBatDau], [NgayKetThuc], [SoLuongToiDa], [DaSuDung]) VALUES (2, N'WELCOME20', 0, CAST(20000.00 AS Decimal(12, 2)), CAST(200000.00 AS Decimal(12, 2)), NULL, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 500, 12)
INSERT [dbo].[Voucher] ([MaVoucher], [MaCode], [LoaiGiam], [GiaTri], [GiaTriDonToiThieu], [GiaGiamToiDa], [NgayBatDau], [NgayKetThuc], [SoLuongToiDa], [DaSuDung]) VALUES (3, N'WELCOME30', 0, CAST(30000.00 AS Decimal(12, 2)), CAST(300000.00 AS Decimal(12, 2)), NULL, CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), 300, 6)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_BienThe_Code]    Script Date: 11/08/2026 1:23:32 CH ******/
ALTER TABLE [dbo].[BienTheSach] ADD  CONSTRAINT [UQ_BienThe_Code] UNIQUE NONCLUSTERED 
(
	[MaBienTheCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ChiTietDonHang]    Script Date: 11/08/2026 1:23:32 CH ******/
ALTER TABLE [dbo].[ChiTietDonHang] ADD  CONSTRAINT [UQ_ChiTietDonHang] UNIQUE NONCLUSTERED 
(
	[MaDH] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DanhGia_KhachSach]    Script Date: 11/08/2026 1:23:32 CH ******/
ALTER TABLE [dbo].[DanhGia] ADD  CONSTRAINT [UQ_DanhGia_KhachSach] UNIQUE NONCLUSTERED 
(
	[MaKH] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__D5B8C7F01F86F460]    Script Date: 11/08/2026 1:23:32 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__152C7C5C0CF50F27]    Script Date: 11/08/2026 1:23:32 CH ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BienTheSach] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DiaChiKhachHang] ADD  DEFAULT ((0)) FOR [LaMacDinh]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [SoTienGiam]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((0)) FOR [VaiTroNV]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SachVatLy] ADD  DEFAULT (N'Có sẵn ') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [GiaTriDonToiThieu]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [SoLuongToiDa]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [DaSuDung]
GO
ALTER TABLE [dbo].[BienTheSach]  WITH CHECK ADD  CONSTRAINT [FK_BienThe_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[BienTheSach] CHECK CONSTRAINT [FK_BienThe_Sach]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_BienThe] FOREIGN KEY([MaBienThe])
REFERENCES [dbo].[BienTheSach] ([MaBienThe])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_BienThe]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_CTDH_Sach]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_KhachHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Sach]
GO
ALTER TABLE [dbo].[DiaChiKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_DiaChiKhachHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DiaChiKhachHang] CHECK CONSTRAINT [FK_DiaChiKhachHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NhanVien]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_Voucher] FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[Voucher] ([MaVoucher])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_Voucher]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_BoSach] FOREIGN KEY([MaBoSach])
REFERENCES [dbo].[BoSach] ([MaBoSach])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_BoSach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([MaTL])
REFERENCES [dbo].[TheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD  CONSTRAINT [FK_SachTacGia_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[Sach_TacGia] CHECK CONSTRAINT [FK_SachTacGia_Sach]
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD  CONSTRAINT [FK_SachTacGia_TacGia] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[Sach_TacGia] CHECK CONSTRAINT [FK_SachTacGia_TacGia]
GO
ALTER TABLE [dbo].[SachVatLy]  WITH CHECK ADD  CONSTRAINT [FK_SachVatLy_BienThe] FOREIGN KEY([MaBienThe])
REFERENCES [dbo].[BienTheSach] ([MaBienThe])
GO
ALTER TABLE [dbo].[SachVatLy] CHECK CONSTRAINT [FK_SachVatLy_BienThe]
GO
ALTER TABLE [dbo].[SachVatLy]  WITH CHECK ADD  CONSTRAINT [FK_SachVatLy_CTDH] FOREIGN KEY([MaCTDH])
REFERENCES [dbo].[ChiTietDonHang] ([MaCTDH])
GO
ALTER TABLE [dbo].[SachVatLy] CHECK CONSTRAINT [FK_SachVatLy_CTDH]
GO
ALTER TABLE [dbo].[SachVatLy]  WITH CHECK ADD  CONSTRAINT [FK_SachVatLy_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[SachVatLy] CHECK CONSTRAINT [FK_SachVatLy_Sach]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK_CTDH_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK_CTDH_SoLuong]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [CK_DanhGia_SoSao] CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [CK_DanhGia_SoSao]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TrangThai] CHECK  (([TrangThai]=(2) OR [TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TrangThai]
GO
ALTER TABLE [dbo].[SachVatLy]  WITH CHECK ADD  CONSTRAINT [CK_SachVatLy_DaBan_PhaiCoCTDH] CHECK  (([TrangThai]=N'Đã bán' AND [MaCTDH] IS NOT NULL OR [TrangThai]<>N'Đã bán'))
GO
ALTER TABLE [dbo].[SachVatLy] CHECK CONSTRAINT [CK_SachVatLy_DaBan_PhaiCoCTDH]
GO
ALTER TABLE [dbo].[SachVatLy]  WITH CHECK ADD  CONSTRAINT [CK_SachVatLy_TrangThai] CHECK  (([TrangThai]=N'Hư hỏng' OR [TrangThai]=N'Đã bán' OR [TrangThai]=N'Có sẵn'))
GO
ALTER TABLE [dbo].[SachVatLy] CHECK CONSTRAINT [CK_SachVatLy_TrangThai]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_DaSuDung] CHECK  (([DaSuDung]<=[SoLuongToiDa]))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_DaSuDung]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_LoaiGiam] CHECK  (([LoaiGiam]=(1) OR [LoaiGiam]=(0)))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_LoaiGiam]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_NgayHopLe] CHECK  (([NgayKetThuc]>[NgayBatDau]))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_NgayHopLe]
GO
/****** Object:  StoredProcedure [dbo].[sp_DoiSachHong]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CASE 2: sach bi hong -> doi cuon khac, cuon hong KHONG duoc tinh vao ton kho
CREATE PROCEDURE [dbo].[sp_DoiSachHong]
    @MaSerialCu  VARCHAR(30),   -- cuon khach mang toi (bi hong)
    @MaSerialMoi VARCHAR(30)    -- cuon con hang, dung de doi thay the
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaCTDH INT;
    SELECT @MaCTDH = MaCTDH FROM SachVatLy WHERE MaSerial = @MaSerialCu;

    IF @MaCTDH IS NULL
    BEGIN
        RAISERROR(N'Không tìm thấy cuốn sách này trong đơn hàng nào.', 16, 1);
        RETURN;
    END

    -- cuon cu: danh dau hong, khong con gan voi don hang -> KHONG tang ton kho
    UPDATE SachVatLy
    SET TrangThai = N'Hư hỏng', MaCTDH = NULL
    WHERE MaSerial = @MaSerialCu;

    -- cuon moi: gan vao dung dong chi tiet don hang cua cuon cu
    UPDATE SachVatLy
    SET TrangThai = N'Đã bán', MaCTDH = @MaCTDH
    WHERE MaSerial = @MaSerialMoi
      AND TrangThai = N'Có sẵn';  -- chi doi bang cuon dang con hang trong kho
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TraSachBinhThuong]    Script Date: 11/08/2026 1:23:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- 11. (DA BO BANG PhieuDoiTra THEO YEU CAU CUA THAY)
--     Thay vi luu log rieng, xu ly doi tra bang cach UPDATE
--     truc tiep TrangThai cua SachVatLy ("back lai"). Xem 2
--     stored procedure sp_TraSachBinhThuong / sp_DoiSachHong
--     o muc 13 ben duoi.
--     Nhuoc diem: khong biet duoc lich su da doi tra bao nhieu
--     lan, ai duyet -> thay noi se bo sung logic nay sau (hoc ky
--     sau / ky hoc he).
-- ============================================================

-- ============================================================
-- 13. STORED PROCEDURE: xu ly 2 case doi/tra sach co ban
--     CASE 1: sach KHONG hong -> tra ve kho, TANG lai ton kho
--     CASE 2: sach HONG -> doi cuon khac, KHONG tang ton kho
--             tu cuon hong (vi khong ban lai duoc cuon do nua)
-- ============================================================

-- CASE 1: khach tra sach binh thuong (khong hong) -> tang lai ton kho
CREATE PROCEDURE [dbo].[sp_TraSachBinhThuong]
    @MaSerial VARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE SachVatLy
    SET TrangThai = N'Có sẵn',   -- tra ve kho -> co the ban lai -> ton kho tang
        MaCTDH = NULL            -- khong con thuoc don hang nao nua
    WHERE MaSerial = @MaSerial
      AND TrangThai = N'Đã bán '; -- chi cho tra neu dang o trang thai da ban
END;

GO
USE [master]
GO
