/* ============================================================
   DATABASE: QuanLyNhaSach  ΓÇö  Bß║óN ─Éß║ªY ─Éß╗ª ─Éß╗ÆNG Bß╗ÿ Vß╗ÜI JAVA CODE
   Gß╗æc: QuanLyNhaSach.sql (file nguy├¬n thß╗ºy)
   Bß╗ò sung trong qu├í tr├¼nh code (migration):
     [1] Sach        : + TrangThai BIT, AnhBia, BiaSach, NgonNgu
     [2] NhanVien    : + TrangThai BIT, CaLamViec NVARCHAR(100)
     [3] KhachHang   : + TrangThai BIT
     [4] ChiTietDonHang: + MaBienThe INT NULL, bß╗Å UNIQUE(MaDH,MaSach)
     [5] SachBienThe : bß║úng Mß╗ÜI ho├án to├án (entity SachBienThe.java)
     [6] LichSuDoiTra: bß║úng Mß╗ÜI ho├án to├án (entity LichSuDoiTra.java)
     [7] SachVatLy   : bß╗Å constraint DaBan_PhaiCoCTDH (lß╗ùi Hibernate flush)
     [8] Voucher     : bß╗Å CK_DaSuDung (lß╗ùi khi INSERT data mß║½u > 1)
     [9] DonHang     : bß╗Å CK_TrangThai (Java d├╣ng 1=DA_GIAO mß║╖c ─æß╗ïnh)

   C├ích chß║íy: Mß╗ƒ trong SSMS ΓåÆ chß╗ìn master ΓåÆ F5
   T├ái khoß║ún: admin/123456  |  nhanvien/123456
   ============================================================ */

USE master;
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyNhaSach')
BEGIN
    ALTER DATABASE QuanLyNhaSach SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE QuanLyNhaSach;
END;
GO

CREATE DATABASE QuanLyNhaSach COLLATE Vietnamese_CI_AS;
GO

USE QuanLyNhaSach;
GO

-- ============================================================
-- 1. NHA XUAT BAN  (giß╗» nguy├¬n file gß╗æc)
-- ============================================================
CREATE TABLE NhaXuatBan (
    MaNXB   INT IDENTITY(1,1) PRIMARY KEY,
    TenNXB  NVARCHAR(100) NOT NULL,
    Sdt     VARCHAR(15)   NULL,
    DiaChi  NVARCHAR(200) NULL
);
GO

-- ============================================================
-- 2. THE LOAI  (giß╗» nguy├¬n)
-- ============================================================
CREATE TABLE TheLoai (
    MaTL  INT IDENTITY(1,1) PRIMARY KEY,
    TenTL NVARCHAR(100) NOT NULL
);
GO

-- ============================================================
-- 3. TAC GIA  (giß╗» nguy├¬n)
-- ============================================================
CREATE TABLE TacGia (
    MaTG   INT IDENTITY(1,1) PRIMARY KEY,
    TenTG  NVARCHAR(100) NOT NULL,
    TieuSu NVARCHAR(MAX) NULL
);
GO

-- ============================================================
-- 4. BO SACH  (giß╗» nguy├¬n)
-- ============================================================
CREATE TABLE BoSach (
    MaBoSach  INT IDENTITY(1,1) PRIMARY KEY,
    TenBoSach NVARCHAR(150) NOT NULL,
    MoTa      NVARCHAR(500) NULL
);
GO

-- ============================================================
-- 5. SACH
--   [1] TH├èM: TrangThai BIT DEFAULT 1  (entity Sach.java: trangThai)
--             AnhBia NVARCHAR(500)      (entity Sach.java: anhBia)
--             BiaSach NVARCHAR(50)      (migration-bien-the-sach.sql)
--             NgonNgu NVARCHAR(100)     (migration-bien-the-sach.sql)
-- ============================================================
CREATE TABLE Sach (
    MaSach    VARCHAR(20)   NOT NULL PRIMARY KEY,
    TenSach   NVARCHAR(200) NOT NULL,
    NamXB     INT           NULL,
    GiaBan    DECIMAL(12,2) NOT NULL DEFAULT 0,
    MaTL      INT           NOT NULL,
    MaNXB     INT           NOT NULL,
    MaBoSach  INT           NULL,
    SoPhan    INT           NULL,
    TrangThai BIT           NOT NULL DEFAULT 1,   -- [1] Mß╗ÜI: 1=─æang KD, 0=ngß╗½ng
    AnhBia    NVARCHAR(500) NULL,                 -- [1] Mß╗ÜI
    BiaSach   NVARCHAR(50)  NULL,                 -- [1] Mß╗ÜI (migration)
    NgonNgu   NVARCHAR(100) NULL,                 -- [1] Mß╗ÜI (migration)
    CONSTRAINT FK_Sach_TheLoai    FOREIGN KEY (MaTL)     REFERENCES TheLoai(MaTL),
    CONSTRAINT FK_Sach_NhaXuatBan FOREIGN KEY (MaNXB)    REFERENCES NhaXuatBan(MaNXB),
    CONSTRAINT FK_Sach_BoSach     FOREIGN KEY (MaBoSach) REFERENCES BoSach(MaBoSach)
);
GO

-- ============================================================
-- 6. SACH_TACGIA  (giß╗» nguy├¬n)
-- ============================================================
CREATE TABLE Sach_TacGia (
    MaSach   VARCHAR(20)  NOT NULL,
    MaTG     INT          NOT NULL,
    VaiTroTG NVARCHAR(50) NULL,
    CONSTRAINT PK_Sach_TacGia       PRIMARY KEY (MaSach, MaTG),
    CONSTRAINT FK_SachTacGia_Sach   FOREIGN KEY (MaSach) REFERENCES Sach(MaSach),
    CONSTRAINT FK_SachTacGia_TacGia FOREIGN KEY (MaTG)   REFERENCES TacGia(MaTG)
);
GO

-- ============================================================
-- 7. NHAN VIEN
--   [2] TH├èM: TrangThai BIT DEFAULT 1  (entity NhanVien.java)
--             CaLamViec NVARCHAR(100)   (entity NhanVien.java)
-- ============================================================
CREATE TABLE NhanVien (
    MaNV      INT IDENTITY(1,1) PRIMARY KEY,
    TenNV     NVARCHAR(100) NOT NULL,
    Sdt       VARCHAR(15)   NULL,
    Email     VARCHAR(100)  NULL,
    DiaChi    NVARCHAR(200) NULL,
    TaiKhoan  VARCHAR(50)   NOT NULL UNIQUE,
    MatKhau   VARCHAR(255)  NOT NULL,
    VaiTroNV  TINYINT       NOT NULL DEFAULT 0,  -- 0=NV th╞░ß╗¥ng, 1=Admin
    TrangThai BIT           NOT NULL DEFAULT 1,  -- [2] Mß╗ÜI: 1=─æang l├ám, 0=nghß╗ë
    CaLamViec NVARCHAR(100) NULL                 -- [2] Mß╗ÜI
);
GO

-- ============================================================
-- 8. KHACH HANG
--   [3] TH├èM: TrangThai BIT DEFAULT 1  (entity KhachHang.java)
-- ============================================================
CREATE TABLE KhachHang (
    MaKH        INT IDENTITY(1,1) PRIMARY KEY,
    TenKH       NVARCHAR(100) NOT NULL,
    Sdt         VARCHAR(15)   NULL,
    Email       VARCHAR(100)  NULL,
    DiemTichLuy INT           NOT NULL DEFAULT 0,
    TrangThai   BIT           NOT NULL DEFAULT 1  -- [3] Mß╗ÜI
);
GO

-- ============================================================
-- 9. DIA CHI KHACH HANG  (giß╗» nguy├¬n)
-- ============================================================
CREATE TABLE DiaChiKhachHang (
    MaDiaChi      INT IDENTITY(1,1) PRIMARY KEY,
    MaKH          INT           NOT NULL,
    DiaChiChiTiet NVARCHAR(200) NOT NULL,
    LaMacDinh     BIT           NOT NULL DEFAULT 0,
    CONSTRAINT FK_DiaChiKhachHang_KhachHang FOREIGN KEY (MaKH) REFERENCES KhachHang(MaKH)
);
GO

-- ============================================================
-- 10. VOUCHER
--   [8] Bß╗Ä: CK_Voucher_DaSuDung ΓÇö lß╗ùi khi INSERT voucher DaSuDung>1
--   Giß╗» nguy├¬n mß╗ìi thß╗⌐ kh├íc tß╗½ file gß╗æc
-- ============================================================
CREATE TABLE Voucher (
    MaVoucher         INT IDENTITY(1,1) PRIMARY KEY,
    MaCode            VARCHAR(20)   NOT NULL UNIQUE,
    LoaiGiam          TINYINT       NOT NULL,           -- 0=%, 1=tiß╗ün cß╗æ ─æß╗ïnh
    GiaTri            DECIMAL(12,2) NOT NULL,
    GiaTriDonToiThieu DECIMAL(12,2) NOT NULL DEFAULT 0,
    GiaGiamToiDa      DECIMAL(12,2) NULL,
    NgayBatDau        DATETIME      NOT NULL,
    NgayKetThuc       DATETIME      NOT NULL,
    SoLuongToiDa      INT           NOT NULL DEFAULT 1,
    DaSuDung          INT           NOT NULL DEFAULT 0,
    CONSTRAINT CK_Voucher_LoaiGiam  CHECK (LoaiGiam IN (0, 1)),
    CONSTRAINT CK_Voucher_NgayHopLe CHECK (NgayKetThuc > NgayBatDau)
    -- [8] Bß╗Ä CK_Voucher_DaSuDung: g├óy lß╗ùi khi insert data mß║½u c├│ DaSuDung > 1
);
GO

-- ============================================================
-- 11. DON HANG
--   [9] Bß╗Ä: CK_DonHang_TrangThai ΓÇö Java d├╣ng TrangThai=1 l├ám mß║╖c ─æß╗ïnh
--   DEFAULT ─æß╗òi th├ánh 1 (DA_GIAO) khß╗¢p vß╗¢i DonHangDAO.TRANG_THAI_DA_GIAO
-- ============================================================
CREATE TABLE DonHang (
    MaDH                INT IDENTITY(1,1) PRIMARY KEY,
    NgayLap             DATETIME      NOT NULL DEFAULT GETDATE(),
    TongTien            DECIMAL(12,2) NOT NULL DEFAULT 0,
    TrangThai           TINYINT       NOT NULL DEFAULT 1,  -- [9] 1=─É├ú giao (mß║╖c ─æß╗ïnh Java)
    PhuongThucThanhToan NVARCHAR(50)  NULL,
    MaKH                INT           NOT NULL,
    MaNV                INT           NOT NULL,
    MaVoucher           INT           NULL,
    SoTienGiam          DECIMAL(12,2) NOT NULL DEFAULT 0,
    CONSTRAINT FK_DonHang_KhachHang FOREIGN KEY (MaKH)      REFERENCES KhachHang(MaKH),
    CONSTRAINT FK_DonHang_NhanVien  FOREIGN KEY (MaNV)      REFERENCES NhanVien(MaNV),
    CONSTRAINT FK_DonHang_Voucher   FOREIGN KEY (MaVoucher) REFERENCES Voucher(MaVoucher)
);
GO

-- ============================================================
-- 12. SACH BIEN THE  [5] Bß║óNG Mß╗ÜI HO├ÇN TO├ÇN
--   Entity: SachBienThe.java
--   D├╣ng trong: POS (CartItem.maBienThe), DonHangDAO.taoDonHangBienThe
-- ============================================================
CREATE TABLE SachBienThe (
    MaBienThe     INT IDENTITY(1,1) PRIMARY KEY,
    MaSach        VARCHAR(20)   NOT NULL,
    MaBienTheCode NVARCHAR(50)  NULL,         -- VD: S001-BC-VI, unique per s├ích
    BiaSach       NVARCHAR(50)  NULL,         -- 'B├¼a mß╗üm' | 'B├¼a cß╗⌐ng' | 'B├¼a da'
    NgonNgu       NVARCHAR(100) NULL,         -- 'Tiß║┐ng Viß╗çt' | 'Tiß║┐ng Anh'
    GiaBienThe    DECIMAL(12,2) NOT NULL DEFAULT 0,
    TrangThai     BIT           NOT NULL DEFAULT 1,   -- 1=─æang b├ín
    CONSTRAINT FK_BienThe_Sach FOREIGN KEY (MaSach) REFERENCES Sach(MaSach),
    CONSTRAINT UQ_BienThe_Code UNIQUE (MaSach, MaBienTheCode)
);
GO

-- ============================================================
-- 13. CHI TIET DON HANG
--   [4] TH├èM:  MaBienThe INT NULL FKΓåÆSachBienThe (entity ChiTietDonHang.java)
--   [4] Bß╗Ä:   UNIQUE(MaDH, MaSach) ΓÇö DonHangDAO.doiMon() tß║ío nhiß╗üu d├▓ng
--             c├╣ng s├ích trong 1 ─æ╞ín khi ─æß╗òi h├áng nhiß╗üu lß║ºn
-- ============================================================
CREATE TABLE ChiTietDonHang (
    MaCTDH    INT IDENTITY(1,1) PRIMARY KEY,
    MaDH      INT           NOT NULL,
    MaSach    VARCHAR(20)   NOT NULL,
    MaBienThe INT           NULL,  -- [4] Mß╗ÜI: NULL=gi├í gß╗æc, c├│ gi├í trß╗ï=biß║┐n thß╗â
    SoLuong   INT           NOT NULL DEFAULT 1,
    DonGia    DECIMAL(12,2) NOT NULL,
    ThanhTien AS (SoLuong * DonGia) PERSISTED,
    -- [4] Bß╗Ä UNIQUE(MaDH, MaSach)
    CONSTRAINT FK_CTDH_DonHang FOREIGN KEY (MaDH)       REFERENCES DonHang(MaDH),
    CONSTRAINT FK_CTDH_Sach    FOREIGN KEY (MaSach)     REFERENCES Sach(MaSach),
    CONSTRAINT FK_CTDH_BienThe FOREIGN KEY (MaBienThe)  REFERENCES SachBienThe(MaBienThe),
    CONSTRAINT CK_CTDH_SoLuong CHECK (SoLuong > 0)
);
GO

-- ============================================================
-- 14. SACH VAT LY
--   [7] Bß╗Ä: CK_SachVatLy_DaBan_PhaiCoCTDH ΓÇö g├óy lß╗ùi Hibernate flush order
--   Giß╗» nguy├¬n 3 gi├í trß╗ï TrangThai hß╗úp lß╗ç tß╗½ file gß╗æc
-- ============================================================
CREATE TABLE SachVatLy (
    MaSerial  VARCHAR(30)  NOT NULL PRIMARY KEY,
    MaSach    VARCHAR(20)  NOT NULL,
    TrangThai NVARCHAR(20) NOT NULL DEFAULT N'C├│ sß║╡n',
    MaCTDH    INT          NULL,
    CONSTRAINT FK_SachVatLy_Sach      FOREIGN KEY (MaSach) REFERENCES Sach(MaSach),
    CONSTRAINT FK_SachVatLy_CTDH      FOREIGN KEY (MaCTDH) REFERENCES ChiTietDonHang(MaCTDH),
    CONSTRAINT CK_SachVatLy_TrangThai CHECK (TrangThai IN (N'C├│ sß║╡n', N'─É├ú b├ín', N'H╞░ hß╗Ång'))
    -- [7] Bß╗Ä CK_SachVatLy_DaBan_PhaiCoCTDH ΓÇö g├óy lß╗ùi Hibernate merge order
);
GO

-- ============================================================
-- 15. DANH GIA  (giß╗» nguy├¬n file gß╗æc)
-- ============================================================
CREATE TABLE DanhGia (
    MaDanhGia   INT IDENTITY(1,1) PRIMARY KEY,
    MaKH        INT           NOT NULL,
    MaSach      VARCHAR(20)   NOT NULL,
    SoSao       TINYINT       NOT NULL,
    NoiDung     NVARCHAR(500) NULL,
    NgayDanhGia DATETIME      NOT NULL DEFAULT GETDATE(),
    CONSTRAINT FK_DanhGia_KhachHang FOREIGN KEY (MaKH)   REFERENCES KhachHang(MaKH),
    CONSTRAINT FK_DanhGia_Sach      FOREIGN KEY (MaSach) REFERENCES Sach(MaSach),
    CONSTRAINT CK_DanhGia_SoSao     CHECK (SoSao BETWEEN 1 AND 5),
    CONSTRAINT UQ_DanhGia_KhachSach UNIQUE (MaKH, MaSach)
);
GO

-- ============================================================
-- 16. LICH SU DOI TRA  [6] Bß║óNG Mß╗ÜI HO├ÇN TO├ÇN
--   Entity: LichSuDoiTra.java
--   D├╣ng trong: DonHangDAO.traMon(), DonHangDAO.doiMon()
--   Thay thß║┐ 2 stored procedure sp_TraSach/sp_DoiSach vß╗ü mß║╖t l╞░u log
-- ============================================================
CREATE TABLE LichSuDoiTra (
    MaDoiTra      INT IDENTITY(1,1) PRIMARY KEY,
    MaDH          INT            NOT NULL,
    LoaiGiaoDich  NVARCHAR(10)   NOT NULL CHECK (LoaiGiaoDich IN (N'TRA', N'DOI')),
    NgayThucHien  DATETIME       NOT NULL DEFAULT GETDATE(),
    MaCTDHCu      INT            NOT NULL,
    SoLuongTra    INT            NOT NULL,
    MaSachMoi     VARCHAR(20)    NULL,
    SoLuongMoi    INT            NULL,
    ChenhLechTien DECIMAL(12,2)  NOT NULL DEFAULT 0,
    LyDo          NVARCHAR(255)  NULL,
    CONSTRAINT FK_DoiTra_DonHang FOREIGN KEY (MaDH)      REFERENCES DonHang(MaDH),
    CONSTRAINT FK_DoiTra_CTDHCu  FOREIGN KEY (MaCTDHCu)  REFERENCES ChiTietDonHang(MaCTDH),
    CONSTRAINT FK_DoiTra_SachMoi FOREIGN KEY (MaSachMoi) REFERENCES Sach(MaSach)
);
GO

-- ============================================================
-- TRIGGER  (giß╗» nguy├¬n tß╗½ file gß╗æc)
-- ============================================================
CREATE TRIGGER trg_CapNhatTongTien
ON ChiTietDonHang
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @DanhSachMaDH TABLE (MaDH INT);
    INSERT INTO @DanhSachMaDH (MaDH)
        SELECT MaDH FROM inserted
        UNION
        SELECT MaDH FROM deleted;
    UPDATE dh
    SET TongTien = ISNULL((
        SELECT SUM(ct.ThanhTien)
        FROM ChiTietDonHang ct
        WHERE ct.MaDH = dh.MaDH
    ), 0) - dh.SoTienGiam
    FROM DonHang dh
    INNER JOIN @DanhSachMaDH d ON dh.MaDH = d.MaDH;
END;
GO

-- ============================================================
-- STORED PROCEDURE  (giß╗» nguy├¬n tß╗½ file gß╗æc)
-- ============================================================
CREATE PROCEDURE sp_TraSachBinhThuong
    @MaSerial VARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE SachVatLy
    SET TrangThai = N'C├│ sß║╡n', MaCTDH = NULL
    WHERE MaSerial = @MaSerial AND TrangThai = N'─É├ú b├ín';
END;
GO

CREATE PROCEDURE sp_DoiSachHong
    @MaSerialCu  VARCHAR(30),
    @MaSerialMoi VARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaCTDH INT;
    SELECT @MaCTDH = MaCTDH FROM SachVatLy WHERE MaSerial = @MaSerialCu;
    IF @MaCTDH IS NULL
    BEGIN
        RAISERROR(N'Kh├┤ng t├¼m thß║Ñy cuß╗æn s├ích n├áy trong ─æ╞ín h├áng n├áo.', 16, 1);
        RETURN;
    END
    UPDATE SachVatLy SET TrangThai = N'H╞░ hß╗Ång', MaCTDH = NULL
    WHERE MaSerial = @MaSerialCu;
    UPDATE SachVatLy SET TrangThai = N'─É├ú b├ín', MaCTDH = @MaCTDH
    WHERE MaSerial = @MaSerialMoi AND TrangThai = N'C├│ sß║╡n';
END;
GO

PRINT N'>>> Schema 16 bß║úng + trigger + 2 SP ho├án tß║Ñt.';
GO

-- ============================================================
-- Dß╗« LIß╗åU Mß║¬U ΓÇö giß╗» nguy├¬n 100% tß╗½ file gß╗æc QuanLyNhaSach.sql
-- ============================================================

-- NH├Ç XUß║ñT Bß║óN (15)
GO

-- THß╗é LOß║áI (20)
INSERT INTO TheLoai (TenTL) VALUES
(N'V─ân hß╗ìc Viß╗çt Nam'),(N'V─ân hß╗ìc n╞░ß╗¢c ngo├ái'),(N'Thiß║┐u nhi'),
(N'Truyß╗çn tranh'),(N'Manga'),(N'Light Novel'),
(N'Trinh th├ím'),(N'Kinh tß║┐'),(N'Quß║ún trß╗ï'),
(N'Khß╗ƒi nghiß╗çp'),(N'T├óm l├╜ hß╗ìc'),(N'Kß╗╣ n─âng sß╗æng'),
(N'C├┤ng nghß╗ç th├┤ng tin'),(N'Lß║¡p tr├¼nh'),(N'Tr├¡ tuß╗ç nh├ón tß║ío'),
(N'Khoa hß╗ìc'),(N'Lß╗ïch sß╗¡'),(N'Ngoß║íi ngß╗»'),
(N'Tiß╗âu thuyß║┐t'),(N'Tß╗▒ truyß╗çn');
GO

-- T├üC GIß║ó (30)
GO

-- Bß╗ÿ S├üCH (15)
GO

-- S├üCH (50) ΓÇö giß╗» nguy├¬n file gß╗æc + th├¬m TrangThai=1, AnhBia=NULL
GO

-- S├üCH - T├üC GIß║ó (50 d├▓ng ΓÇö giß╗» nguy├¬n file gß╗æc)
GO

-- NH├éN VI├èN (20) ΓÇö giß╗» nguy├¬n file gß╗æc + th├¬m TrangThai=1, CaLamViec
GO

-- KH├üCH H├ÇNG (50) ΓÇö giß╗» nguy├¬n file gß╗æc + th├¬m TrangThai=1
GO

-- ─Éß╗èA CHß╗ê KH├üCH H├ÇNG (50) ΓÇö giß╗» nguy├¬n file gß╗æc
GO

-- VOUCHER (30) ΓÇö giß╗» nguy├¬n file gß╗æc
GO

-- ─É╞áN H├ÇNG (20) ΓÇö giß╗» nguy├¬n file gß╗æc
-- Trigger sß║╜ tß╗▒ t├¡nh TongTien sau khi insert ChiTietDonHang
GO

-- CHI TIß║╛T ─É╞áN H├ÇNG (40 d├▓ng) ΓÇö giß╗» nguy├¬n file gß╗æc
-- Trigger trg_CapNhatTongTien sß║╜ cß║¡p nhß║¡t TongTien tß╗▒ ─æß╗Öng
GO

-- S├üCH Vß║¼T L├¥ (100 cuß╗æn S001-S010, mß╗ùi s├ích 10 cuß╗æn) ΓÇö giß╗» nguy├¬n file gß╗æc
GO

-- S├üCH Vß║¼T L├¥ ΓÇö S011-S050, mß╗ùi s├ích 5 cuß╗æn (bß╗ò sung ─æß╗â test ─æß║ºy ─æß╗º)
GO

-- S├üCH BIß║╛N THß╗é [5] ΓÇö bß║úng mß╗¢i, data mß║½u cho POS
-- C├íc s├ích phß╗ò biß║┐n nhß║Ñt c├│ biß║┐n thß╗â b├¼a/ng├┤n ngß╗»
GO

-- ─É├üNH GI├ü (50) ΓÇö giß╗» nguy├¬n file gß╗æc
GO

-- Lß╗èCH Sß╗¼ ─Éß╗öI TRß║ó ΓÇö data mß║½u ─æß╗â test chß╗⌐c n─âng ─æß╗òi/trß║ú (entity LichSuDoiTra.java)
-- Ghi ch├║: trong thß╗▒c tß║┐ Java tß╗▒ ─æiß╗ün bß║úng n├áy qua DonHangDAO.traMon()/doiMon()
-- Data mß║½u d╞░ß╗¢i ─æ├óy giß║ú lß║¡p 3 lß║ºn trß║ú h├áng v├á 2 lß║ºn ─æß╗òi h├áng tß╗½ c├íc ─æ╞ín ─æ├ú c├│
GO

-- ============================================================
-- QUERY SAMPLE (giß╗» nguy├¬n tß╗½ file gß╗æc, dß║íng comment)
-- ============================================================
-- Tß╗ôn kho: SELECT s.MaSach,s.TenSach,COUNT(sv.MaSerial) AS TonKho
--          FROM Sach s LEFT JOIN SachVatLy sv ON sv.MaSach=s.MaSach AND sv.TrangThai=N'C├│ sß║╡n'
--          GROUP BY s.MaSach,s.TenSach;

-- Tra cß╗⌐u serial: SELECT sv.MaSerial,s.TenSach,kh.TenKH,dh.MaDH,dh.NgayLap
--                 FROM SachVatLy sv JOIN Sach s ON s.MaSach=sv.MaSach
--                 JOIN ChiTietDonHang ct ON ct.MaCTDH=sv.MaCTDH
--                 JOIN DonHang dh ON dh.MaDH=ct.MaDH
--                 JOIN KhachHang kh ON kh.MaKH=dh.MaKH
--                 WHERE sv.MaSerial='S001001';

-- Doanh thu theo th├íng: SELECT YEAR(NgayLap) Nam,MONTH(NgayLap) Thang,SUM(TongTien) DoanhThu
--                       FROM DonHang WHERE TrangThai=1
--                       GROUP BY YEAR(NgayLap),MONTH(NgayLap) ORDER BY Nam,Thang;

-- Top 5 b├ín chß║íy: SELECT TOP 5 s.TenSach,COUNT(sv.MaSerial) SoLuongBan
--                 FROM Sach s JOIN SachVatLy sv ON sv.MaSach=s.MaSach
--                 WHERE sv.TrangThai=N'─É├ú b├ín'
--                 GROUP BY s.TenSach ORDER BY SoLuongBan DESC;

-- Voucher hß╗úp lß╗ç: SELECT * FROM Voucher WHERE MaCode='VIP10'
--                 AND GETDATE() BETWEEN NgayBatDau AND NgayKetThuc
--                 AND DaSuDung < SoLuongToiDa;

-- EXEC sp_TraSachBinhThuong @MaSerial = 'S001001';
-- EXEC sp_DoiSachHong @MaSerialCu = 'S001002', @MaSerialMoi = 'S002001';

-- ============================================================
-- KIß╗éM TRA NHANH
-- ============================================================
SELECT 'NhaXuatBan'    AS Bang, COUNT(*) AS SoBanGhi FROM NhaXuatBan    UNION ALL
SELECT 'TheLoai',               COUNT(*) FROM TheLoai                    UNION ALL
SELECT 'TacGia',                COUNT(*) FROM TacGia                     UNION ALL
SELECT 'BoSach',                COUNT(*) FROM BoSach                     UNION ALL
SELECT 'Sach',                  COUNT(*) FROM Sach                       UNION ALL
SELECT 'Sach_TacGia',           COUNT(*) FROM Sach_TacGia                UNION ALL
SELECT 'NhanVien',              COUNT(*) FROM NhanVien                   UNION ALL
SELECT 'KhachHang',             COUNT(*) FROM KhachHang                  UNION ALL
SELECT 'DiaChiKhachHang',       COUNT(*) FROM DiaChiKhachHang            UNION ALL
SELECT 'Voucher',               COUNT(*) FROM Voucher                    UNION ALL
SELECT 'DonHang',               COUNT(*) FROM DonHang                    UNION ALL
SELECT 'ChiTietDonHang',        COUNT(*) FROM ChiTietDonHang             UNION ALL
SELECT 'SachBienThe',           COUNT(*) FROM SachBienThe                UNION ALL
SELECT 'SachVatLy',             COUNT(*) FROM SachVatLy                  UNION ALL
SELECT 'DanhGia',               COUNT(*) FROM DanhGia                    UNION ALL
SELECT 'LichSuDoiTra',          COUNT(*) FROM LichSuDoiTra;
GO

PRINT N'';
PRINT N'==========================================================';
PRINT N' QuanLyNhaSach khß╗ƒi tß║ío th├ánh c├┤ng!';
PRINT N' T├ái khoß║ún: admin/123456  |  nhanvien/123456';
PRINT N' 16 bß║úng | Trigger | 2 SP | 300+ serial kho';
PRINT N'==========================================================';
GO
